@import "mixins-and-variables.scss";

body {
  max-width: 1280px;
  margin: 0 auto;
  // background-color: white;
  background-color: #999;

  a {
    text-decoration: none;
    color: #04315b;
  }

  .hidden {
    display: none;
  }



  #header {
    position: relative;
    #thinkstock{
      position: absolute;
      bottom: -10px;
      right: 0;
      font-size: 10px;
      color: white;
    }
    #steria {
      height: 166px;
      position: relative;
      background: image_url('header.png') no-repeat center;
      width: 100%;

      .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        img {
          width: 335px;
        }
      }
      .jslogo {
        float: left;
        margin: 122px 0 0 32px;
        img {
          height: 30px;
        }
      }
      img {
        border: 0;
      }
    }
    .banner {
      background: image_url('background.jpg') no-repeat center;
      margin-top: -200px;
      height: 820px;
      width: 100%;

      .text {
        padding-top: 230px;
        text-align: center;
        margin: 0;
        color: #6e6e6e;
        width: 55%;
        margin: 0 auto;
        h1 {
          font-size: 56px;
          font-size: 5.6rem;
          padding: 10px;
        }
        h2 {
          font-size: 32px;
          font-size: 3.2rem;
          margin-bottom: 50px;
        }
        p {
          margin: 7px 0 0;
        }
        .sign-up {
          margin-top: 80px;
          a {
            margin: 20px auto;
            background-color: $red;
            font-size: 18px;
            font-size: 1.8rem;
            color: white;
            padding: 20px;
            width: 200px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }


  .container {
    background-color: white;
    width: 100%;
    text-align: center;
    margin-bottom: -85px;
    padding-bottom: 150px;
    @include box-sizing;
    overflow: hidden;

    .information {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px 4%;

      h1 {
        font-size: 35px;
        font-size: 3.5rem;
        font-weight: normal;
        margin-bottom: 55px;
      }
    }

    .one-row {
      margin: 40px auto;
      width: 90%;
      .players {
        overflow: hidden;
        float: right;
        display: inline-block;
        width: 52%;
        @include box-sizing;
        .player {
          padding: 20px;
          float: left;
          margin-bottom: 20px;
          background-color: #eeebeb;
          padding: 20px;
          @include box-sizing;
          img {
            @include box-sizing;
            width: 29%;
            vertical-align:top;
          }
          .info {
            @include box-sizing;
            vertical-align:top;
            text-align: left;
            width: 65%;
            display: inline-block;
            padding-left: 20px;
            p {
              padding: 0;
              margin: 0;
            }
          }
        }
      }

      #registration {
        float: left;
        display: inline-block;
        width: 40%;
        margin-bottom: 20px;

        @include box-sizing;
        .form-container {
          overflow: hidden;
          background-color: #eeebeb;
          margin: 0 auto;

          padding: 20px;
          text-align: left;

          h2 {
            font-size: 26px;
            font-size: 2.6rem;
            font-weight: normal;
          }

          .signed_up {
            background-color: #B7DD8F;
            border: 1px solid #7AB800;
            padding: 10px;
          }

          .form-row {
            width:  100%;
            overflow: hidden;
            padding-top: 15px;
            position: relative;
            @include box-sizing;
            .phone {
              width: 39%;
              display: inline-block;
              margin-right: 1%;
            }
            .email {
              width: 59%;
              display: inline-block;
            }
            label {
              &.text {
                margin-top: 10px;
                text-transform: uppercase;
                font-size: 14px;
                font-size: 1.4rem;
                display: block;
              }
              &.checkbox {
                display: inline-block;
                float: left;
                font-size: 14px;
                font-size: 1.4rem;
              }
              &.error {
                  float: right;
              }
            }
            &.checkbox {
              padding-top: 5px;
              label.error {
                float: left;
                background-color: #FFD87F;
                padding: 5px;
                margin-top: 2px;
              }
              &.going {
                padding-top: 15px;
              }
            }


            input {
              &.text {
                border: 1px solid #bfc0c4;
                font-size: 16px;
                height: 45px;
                line-height: 1.5;
                margin-right:0;
                margin-left:0;
                padding: 11px 6px 10px 5px;
                vertical-align: bottom;
                @include box-sizing;
                width: 100%;
              }

              &.checkbox {
                display: inline-block;
                float: left;
              }

              &.error{
                // border: 1px solid #FF5900;
                background-color: #FFD87F;
              }
            }
          }
          .btn {
            background-color: $red;
            padding: 15px;
            width: 150px;
            margin: 30px auto 10px;
            display: inline-block;
            float: right;
            font-size: 14px;
            font-size: 1.4rem;
            color: white;
            @include box-sizing;
            cursor: pointer;
            // text-decoration: none;
            text-transform: uppercase;
            border: none;

          }
        }
      }
    }
  }

  .footer {
    height: 200px;
    position: relative;
    width: 100%;
    background: url(/assets/footer.png) no-repeat right;
    .text {
      position: absolute;
      bottom: 20px;
      left: 50px;
      color: black;
      a {
        color: black;
      }
    }
  }

  .all-registrations {
    font-size: 16px;
    padding: 20px;
  }

}

@media screen and (max-width: 1100px) {
  body {
    #header .banner .text {
      padding-top: 200px;
      width: 65%;
    }
    .container {
      .one-row {
        .players {
          width: 47%;
        }

        #registration {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  body {
    #header .banner .text {
      width: 80%;
    }

    .container {
      .one-row {
        .players {
          width: 100%;
        }

        #registration {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    #header .banner .text {
      padding-top: 190px;
      width: 90%;
      h1 {
        font-size: 40px;
        font-size: 4.0rem;
      }
      h2 {
        font-size: 22px;
        font-size: 2.2rem;
      }
    }

    .container {
      .one-row {
        .players .player {

          img {
            display: none;
          }
          .info {
            width: 100%;
            padding: 0;
          }

        }

        #registration {
          .form-container .form-row {
            .phone {
              width: 100%;
              margin-right: 0;
            }
            .email {
              width: 100%;
            }
          }

        }
      }
    }
  }
}
